

.shopping-cart-image{
    width: 6rem;
}

h1{
    text-align: center;
}

.img-fluid{
    width: 100%;
    height: 20%;
}

form{
    margin-right: 35%;
    margin-left: 35%;
}

.shoppingCartSection{
    margin-right: 25%;
    margin-left: 25%;

}

.container{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}